In [1]:
import os 
import pandas as pd
import numpy as np

In [2]:
os.getcwd()

'C:\\Users\\Sanvi\\PythonPracticing_Vinod'

In [3]:
os.chdir('E:\Programming\Analytics\PythonDataSets')

In [4]:
dframe = pd.read_excel('DecistionTree.xlsx')

In [5]:
dframe

     Outlook  Temp Humidity  Windy  HoursPlayed
0      Rainy   Hot     High  False           25
1      Rainy   Hot     High   True           30
2   Overcast   Hot     High  False           46
3      Sunny  Mild     High  False           45
4      Sunny  Cool   Normal  False           52
5      Sunny  Cool   Normal   True           35
6   Overcast  Cool   Normal   True           43
7      Rainy  Mild     High  False           35
8      Rainy  Cool   Normal  False           38
9      Sunny  Mild   Normal  False           46
10     Rainy  Mild   Normal   True           48
11  Overcast  Mild     High   True           48
12  Overcast   Hot   Normal  False           44
13     Sunny  Mild     High   True           38

In [9]:
features = dframe.drop('HoursPlayed',axis=1)

In [10]:
X = pd.get_dummies(features)

In [11]:
X

,Windy,Outlook_Overcast,Outlook_Rainy,Outlook_Sunny,Temp_Cool,Temp_Hot,Temp_Mild,Humidity_High,Humidity_Normal
0,False,0,1,0,0,1,0,1,0
1,True,0,1,0,0,1,0,1,0
2,False,1,0,0,0,1,0,1,0
3,False,0,0,1,0,0,1,1,0
4,False,0,0,1,1,0,0,0,1
5,True,0,0,1,1,0,0,0,1
6,True,1,0,0,1,0,0,0,1
7,False,0,1,0,0,0,1,1,0
8,False,0,1,0,1,0,0,0,1
9,False,0,0,1,0,0,1,0,1
10,True,0,1,0,0,0,1,0,1
11,True,1,0,0,0,0,1,1,0
12,False,1,0,0,0,1,0,0,1
13,True,0,0,1,0,0,1,1,0

In [12]:
y=dframe['HoursPlayed']

In [13]:
from sklearn.model_selection import train_test_split

In [57]:
x_train,x_test,y_train,y_test= train_test_split(X,y,test_size=0.30)

In [69]:
x_train.

Windy               True
Outlook_Overcast       0
Outlook_Rainy          1
Outlook_Sunny          0
Temp_Cool              0
Temp_Hot               1
Temp_Mild              0
Humidity_High          1
Humidity_Normal        0
Name: 1, dtype: object

In [28]:
y_train

9     46
6     43
13    38
2     46
0     25
12    44
8     38
1     30
5     35
7     35
10    48
Name: HoursPlayed, dtype: int64

In [19]:
from sklearn.tree import DecisionTreeRegressor

In [58]:
decisiontree_Regressor = DecisionTreeRegressor(max_depth=5,random_state=0)

In [66]:
decisiontree_Regressor.fit(x_train,y_train)

DecisionTreeRegressor(criterion='mse', max_depth=5, max_features=None,
           max_leaf_nodes=None, min_impurity_decrease=0.0,
           min_impurity_split=None, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           presort=False, random_state=0, splitter='best')

In [23]:
from sklearn.tree import export_graphviz

In [67]:
with  open('DecisionTree_Regressor.txt',"w") as f:
    f=export_graphviz(decisiontree_Regressor,out_file=f)

In [29]:
from sklearn.metrics import mean_squared_error,r2_score

In [61]:
y_predicted = decisiontree_Regressor.predict(x_test)

In [70]:
y_test

3    45
5    35
2    46
9    46
7    35
Name: HoursPlayed, dtype: int64

In [71]:
y_predicted

array([52., 38., 44., 52., 48.])

In [65]:
r2_score(y_test,y_predicted)

-0.9460641399416911

In [64]:
mean_squared_error(y_test,y_predicted)

53.4