In [1]:
import pandas as pd
import numpy as np

In [2]:
import numpy

In [3]:
d=pd.bdate_range('11-Sep-2017', '17-Sep-2017', freq='2D')

In [4]:
d

DatetimeIndex(['2017-09-11', '2017-09-13', '2017-09-15', '2017-09-17'], dtype='datetime64[ns]', freq='2D')

In [5]:
len(d[d.isin(pd.to_datetime(['12-09-2017', '15-09-2017']))])

1

In [6]:
pd.date_range('11-Sep-2017', '17-Sep-2017', freq='2D')

DatetimeIndex(['2017-09-11', '2017-09-13', '2017-09-15', '2017-09-17'], dtype='datetime64[ns]', freq='2D')

In [7]:
df = pd.DataFrame({'temp':pd.Series(28 + 10*np.random.randn(10)),

                   'rain':pd.Series(100 + 50*np.random.randn(10)),

                   'location':list('AAAAABBBBB')

})

In [8]:
df

        temp        rain location
0  25.127783   97.998402        A
1  29.514303  113.785226        A
2  39.720047   75.851214        A
3  37.437749  169.740159        A
4  18.515673   87.170602        A
5  22.539811  159.149051        B
6  34.169362  137.030256        B
7  42.479662   11.955661        B
8  30.986621  150.399600        B
9  28.699905   81.482243        B

KeyError: 'rain'

In [ ]:
# Replace a

In [10]:
df = {
    'A':[20,30,50,60],
    'B':[50,60,20,10],
    'C':[30,20,50,20],
    'D':[20,40,60,30]
}

In [11]:
df = pd.DataFrame(df,index = {'r1','r2','r3','r4'})

In [12]:
df

     A   B   C   D
r1  20  50  30  20
r2  30  60  20  40
r3  50  20  50  60
r4  60  10  20  30

In [13]:
df.loc[:, lambda x : x.columns.isin(['C', 'D'])]

     C   D
r1  30  20
r2  20  40
r3  50  60
r4  20  30

In [14]:
df[lambda x : x.index.str.endswith('3')]

     A   B   C   D
r3  50  20  50  60

In [15]:
df.loc[(df.B > 45) & (df.C < 30)]

     A   B   C   D
r2  30  60  20  40

In [16]:
import os

In [17]:
os.getcwd()

'C:\\Users\\Sanvi\\PythonPracticing_Vinod'

In [18]:
cd ..

C:\Users\Sanvi

In [19]:
os.getcwd()

'C:\\Users\\Sanvi'

In [20]:
cd Desktop

C:\Users\Sanvi\Desktop

In [21]:
# %load a.py
print("Hi VInod");

def f(x, y, z):
	return (x + y) / z
a = 5
b = 6
c = 7.5
result = f(a, b, c)
print(result)

Hi VInod
1.4666666666666666