### Pandas Practicing 

* Series: A 1-D array.

* Data Frame: A 2-D array or two or more Series joined together

* Panel: A 3-D array

### Series

In [45]:
import numpy as np
import pandas as pd

In [2]:
# 1. Creation of series using the dictionary.
dict = {'A':55,'B':66,'C':88}

In [3]:
panda_series = pd.Series(dict)

In [4]:
panda_series

A    55
B    66
C    88
dtype: int64

In [5]:
nd_array

NameError: name 'nd_array' is not defined

In [ ]:
pd_ndarray = pd.Series (nd_array)

In [ ]:
nd_array2 = np.random.randint(4,10)
# Python | randint() function ,It generates only one value , between given two integers 
"""
randint() is an inbuilt function of the random module in Python3. The random module gives
access to various useful functions and one of them being able to generate random numbers, which is randint().

ValueError : Returns a ValueError when floating
             point values are passed as parameters.

TypeError : Returns a TypeError when anything other than 
            numeric values are passed as parameters.
"""

In [ ]:
pd_ndarray

In [ ]:
type(_)

In [6]:
# 3. Customising Series 

pd_cust = pd.Series(np.random.randn(5),index =('A','B','C','D','E'))

In [ ]:
pd_cust

In [ ]:
# 4. By Passing an List to the series method.
series3 = pd.Series(['A','B','C'])

In [ ]:
series3

In [ ]:
series31 = pd.Series(['A','B','C'] , index = ('d','e','f'))
#Here default index values 0,1,2 are replacing with the d,e,f

In [ ]:
series31

### Data Frame

In [38]:
dict_2D = { 'col1' : pd.Series(['A','B','C']),
            'col2' : pd.Series(['D','E','F']),
            'col3' : pd.Series (['G','H','I'])
}

In [39]:
dict_2D

{'col1': 0    A
 1    B
 2    C
 dtype: object, 'col2': 0    D
 1    E
 2    F
 dtype: object, 'col3': 0    G
 1    H
 2    I
 dtype: object}

In [40]:
dict_2D = pd.DataFrame(dict_2D)

In [41]:
dict_2D # used to fetch the column values into a panadas series

  col1 col2 col3
0    A    D    G
1    B    E    H
2    C    F    I

In [42]:
dict_2D['col1']

0    A
1    B
2    C
Name: col1, dtype: object

In [43]:
type(dict_2D['col1'])

pandas.core.series.Series

In [44]:
type(dict_2D[['col1']])

pandas.core.frame.DataFrame

In [ ]:
dict_2D['col3'][:2] #[:2 ] represents only first tow columns , So squre brackets are used to fetch the data from the columns

* If we want to fetch the rows  we will use the /loc and iloc functions ,
* loc() is used to fetch the rows using the values of row , iloc() function is used to fetch the rows of the values using index values

In [ ]:
studentData = {
    'name' : ['jack', 'Riti', 'Aadi'],
    'age' : [34, 30, 16],
    'city' : ['Sydney', 'Delhi', 'New york']
}

In [ ]:
# Pass custom names of index as list during initialization
dfObj = pd.DataFrame(studentData, index=['a', 'b', 'c'])

In [ ]:
dfObj

In [ ]:
type(dfObj)

In [ ]:
dfObj.iloc(a)

In [47]:
#COnveting data into categorical form
df_frame = pd.DataFrame({
    'ID':(101,102,103,104),
 'quality':('good','excellent','very good','good')
}

)

In [48]:
df_frame

    ID    quality
0  101       good
1  102  excellent
2  103  very good
3  104       good

In [49]:
df_frame.dtypes

ID          int64
quality    object
dtype: object

In [53]:
#Here quality is of object type ,SO if we sort the values , it will sort according to alphabetical order.
df_frame.sort_values('quality')

    ID    quality
1  102  excellent
0  101       good
3  104       good
2  103  very good

In [55]:
df_frame['quality_category'] =df_frame.quality.astype('category',categories=['good','very good','excellent'])

In [57]:
df_frame.dtypes

ID                     int64
quality               object
quality_category    category
dtype: object

In [59]:
df_frame.sort_values('quality_category')

    ID    quality quality_category
0  101       good             good
3  104       good             good
2  103  very good        very good
1  102  excellent        excellent