In [1]:
import pandas as pd
import numpy as np

In [3]:
obj = """
{"name": "Wes",
"places_lived": ["United States", "Spain", "Germany"],
"pet": null,
"siblings": [{"name": "Scott", "age": 30, "pets": ["Zeus", "Zuko"]},
{"name": "Katie", "age": 38,
"pets": ["Sixes", "Stache", "Cisco"]}]
}
"""

In [5]:
type(obj)

str

In [6]:
#Reading Json data ,using JSon library ,it is builds on python staNDARD LIBRARY
import json

In [8]:
results = json.loads(obj)

In [14]:
type(json)

module

In [15]:
results

{'name': 'Wes',
 'places_lived': ['United States', 'Spain', 'Germany'],
 'pet': None,
 'siblings': [{'name': 'Scott', 'age': 30, 'pets': ['Zeus', 'Zuko']},
  {'name': 'Katie', 'age': 38, 'pets': ['Sixes', 'Stache', 'Cisco']}]}

In [16]:
#dumps method is used to convert back into python string
asjson = json.dumps(results)

In [17]:
type(asjson)

str

In [18]:
asjson

'{"name": "Wes", "places_lived": ["United States", "Spain", "Germany"], "pet": null, "siblings": [{"name": "Scott", "age": 30, "pets": ["Zeus", "Zuko"]}, {"name": "Katie", "age": 38, "pets": ["Sixes", "Stache", "Cisco"]}]}'

In [20]:
#conversion of json data into datafrtame 
dfFrame_one = pd.DataFrame(results['siblings'])

In [21]:
dfFrame_one

   age   name                    pets
0   30  Scott            [Zeus, Zuko]
1   38  Katie  [Sixes, Stache, Cisco]

In [22]:
#Read only age and name froms siblings
type(results['siblings'])

list

In [23]:
dfFrame_two = pd.DataFrame(results['siblings'],columns=['age','name'])

In [24]:
dfFrame_two

   age   name
0   30  Scott
1   38  Katie

In [25]:
import os

In [26]:
os.getcwd()

'C:\\Users\\Sanvi\\PythonPracticing_Vinod\\Untitled Folder'

In [27]:
json_Df = pd.read_json('JsonData.json')

In [28]:
json_Df

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

In [29]:
#Discretization and Binning
ages = [20, 22, 25, 27, 21, 23, 37, 31, 61, 45, 41, 32]

2

In [30]:
bins = [18, 25, 35, 60, 100]

In [32]:
cat=pd.cut(ages, bins)

In [33]:
cat

[(18, 25], (18, 25], (18, 25], (25, 35], (18, 25], ..., (25, 35], (60, 100], (35, 60], (35, 60], (25, 35]]
Length: 12
Categories (4, interval[int64]): [(18, 25] < (25, 35] < (35, 60] < (60, 100]]

In [43]:
#The above method returns the range which belongs
cat.codes

array([0, 0, 0, 1, 0, 0, 2, 1, 3, 2, 2, 1], dtype=int8)

In [44]:
cat.categories

IntervalIndex([(18, 25], (25, 35], (35, 60], (60, 100]],
              closed='right',
              dtype='interval[int64]')

In [47]:
pd.value_counts(cat)

(18, 25]     5
(35, 60]     3
(25, 35]     3
(60, 100]    1
dtype: int64

In [49]:
cat2= pd.cut(ages,bins,right =False)

In [50]:
cat2 #Left value is enclosed and right values is not enclosed, here any one of the value is enclosed

[[18, 25), [18, 25), [25, 35), [25, 35), [18, 25), ..., [25, 35), [60, 100), [35, 60), [35, 60), [25, 35)]
Length: 12
Categories (4, interval[int64]): [[18, 25) < [25, 35) < [35, 60) < [60, 100)]