In [1]:
import pandas as pd
import numpy as np

In [2]:
names = ['movieId','movie_name','genere']

In [4]:
movie_df = pd.read_excel('MovieData.xlsx',,header=None)

In [6]:
movie_df.columns=names

In [9]:
movie_df.set_index('movieId')

                                 movie_name                        genere
movieId
0                          Toy Story (1995)   Animation|Children's|Comedy
1                            Jumanji (1995)  Adventure|Children's|Fantasy
2                   Grumpier Old Men (1995)                Comedy|Romance
3                  Waiting to Exhale (1995)                  Comedy|Drama
4        Father of the Bride Part II (1995)                        Comedy
5                               Heat (1995)         Action|Crime|Thriller
6                            Sabrina (1995)                Comedy|Romance
7                       Tom and Huck (1995)          Adventure|Children's
8                       Sudden Death (1995)                        Action
9                          GoldenEye (1995)     Action|Adventure|Thriller

In [10]:
#Get all the list of individual eneres from the list
generes =[]

In [16]:
for i in movie_df['genere']:
    generes.extend(i.split('|'))
print(generes)

['Animation', "Children's", 'Comedy', 'Adventure', "Children's", 'Fantasy', 'Comedy', 'Romance', 'Comedy', 'Drama', 'Comedy', 'Action', 'Crime', 'Thriller', 'Comedy', 'Romance', 'Adventure', "Children's", 'Action', 'Action', 'Adventure', 'Thriller', 'Animation', "Children's", 'Comedy', 'Adventure', "Children's", 'Fantasy', 'Comedy', 'Romance', 'Comedy', 'Drama', 'Comedy', 'Action', 'Crime', 'Thriller', 'Comedy', 'Romance', 'Adventure', "Children's", 'Action', 'Action', 'Adventure', 'Thriller']

In [27]:
generes_unique=pd.unique(generes)

In [26]:
#We can check duplicate only on dataframe object not on pandas like df.duplicated()
df= pd.DataFrame(generes)
df.drop_duplicates()

             0
0    Animation
1   Children's
2       Comedy
3    Adventure
5      Fantasy
7      Romance
9        Drama
11      Action
12       Crime
13    Thriller

In [34]:
#Now we need to create dummies for data set and assign the values to the dataset
#One way to construct the indicator DataFrame is to start with a DataFrame of all
#zeros:

#We need to create a DataFrame for each genere manually (Not using getDummies method)
#Step1 :Create an empty array with zeros using numpy zeros method with shape as 
#        rows --movies and columns --generes
#Step2 : Convert numpy array to DataFrame with column names as generes(UNique)
#Step3 :Assign the values of above dataframe with 1 , if movie has that genere
#Step 4:Concat the data frames

In [29]:
zero_matrix = np.zeros((len(movie_df), len(generes_unique)))

In [30]:
zero_matrix

array([[0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.]])

In [32]:
dummies = pd.DataFrame(zero_matrix, columns=generes_unique)

In [60]:
dummies

,Animation,Children's,Comedy,Adventure,Fantasy,Romance,Drama,Action,Crime,Thriller
0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
3,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
4,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0
6,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
7,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
8,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
9,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0

In [57]:
# get_indexer()---It will generate a new index for the elements
dummies.iloc[0,[1,2,3]]

Children's    0.0
Comedy        0.0
Adventure     0.0
Name: 0, dtype: float64

In [59]:
for i, gen in enumerate(movie_df.genere):
    indices = dummies.columns.get_indexer(gen.split('|'))
    dummies.iloc[i,[indices]]=1

In [43]:
help(dummies.columns.get_indexer)

Help on method get_indexer in module pandas.core.indexes.base:

get_indexer(target, method=None, limit=None, tolerance=None) method of pandas.core.indexes.base.Index instance
    Compute indexer and mask for new index given the current index. The
    indexer should be then used as an input to ndarray.take to align the
    current data to the new index.

    Parameters
    ----------
    target : Index
    method : {None, 'pad'/'ffill', 'backfill'/'bfill', 'nearest'}, optional
        * default: exact matches only.
        * pad / ffill: find the PREVIOUS index value if no exact match.
        * backfill / bfill: use NEXT index value if no exact match
        * nearest: use the NEAREST index value if no exact match. Tied
          distances are broken by preferring the larger index value.
    limit : int, optional
        Maximum number of consecutive labels in ``target`` to match for
        inexact matches.
    tolerance : optional
        Maximum distance between original and new labels for inexact
        matches. The values of the index at the matching locations most
        satisfy the equation ``abs(index[indexer] - target) <= tolerance``.

        Tolerance may be a scalar value, which applies the same tolerance
        to all values, or list-like, which applies variable tolerance per
        element. List-like includes list, tuple, array, Series, and must be
        the same size as the index and its dtype must exactly match the
        index's type.

        .. versionadded:: 0.21.0 (list-like tolerance)

    Returns
    -------
    indexer : ndarray of int
        Integers from 0 to n - 1 indicating that the index at these
        positions matches the corresponding target values. Missing values
        in the target are marked by -1.

    Examples
    --------
    >>> index = pd.Index(['c', 'a', 'b'])
    >>> index.get_indexer(['a', 'b', 'x'])
    array([ 1,  2, -1])

    Notice that the return value is an array of locations in ``index``
    and ``x`` is marked by -1, as it is not in ``index``.

In [44]:
type(dummies.columns)

pandas.core.indexes.base.Index