In [1]:
import pandas as pd
import numpy as np

In [2]:
names = ['movieId','movie_name','genere']

In [4]:
movie_df = pd.read_excel('MovieData.xlsx',,header=None)

In [6]:
movie_df.columns=names

In [9]:
movie_df.set_index('movieId')

                                 movie_name                        genere
movieId
0                          Toy Story (1995)   Animation|Children's|Comedy
1                            Jumanji (1995)  Adventure|Children's|Fantasy
2                   Grumpier Old Men (1995)                Comedy|Romance
3                  Waiting to Exhale (1995)                  Comedy|Drama
4        Father of the Bride Part II (1995)                        Comedy
5                               Heat (1995)         Action|Crime|Thriller
6                            Sabrina (1995)                Comedy|Romance
7                       Tom and Huck (1995)          Adventure|Children's
8                       Sudden Death (1995)                        Action
9                          GoldenEye (1995)     Action|Adventure|Thriller

In [10]:
#Get all the list of individual eneres from the list
generes =[]

In [16]:
for i in movie_df['genere']:
    generes.extend(i.split('|'))
print(generes)

['Animation', "Children's", 'Comedy', 'Adventure', "Children's", 'Fantasy', 'Comedy', 'Romance', 'Comedy', 'Drama', 'Comedy', 'Action', 'Crime', 'Thriller', 'Comedy', 'Romance', 'Adventure', "Children's", 'Action', 'Action', 'Adventure', 'Thriller', 'Animation', "Children's", 'Comedy', 'Adventure', "Children's", 'Fantasy', 'Comedy', 'Romance', 'Comedy', 'Drama', 'Comedy', 'Action', 'Crime', 'Thriller', 'Comedy', 'Romance', 'Adventure', "Children's", 'Action', 'Action', 'Adventure', 'Thriller']

In [27]:
generes_unique=pd.unique(generes)

In [26]:
#We can check duplicate only on dataframe object not on pandas like df.duplicated()
df= pd.DataFrame(generes)
df.drop_duplicates()

             0
0    Animation
1   Children's
2       Comedy
3    Adventure
5      Fantasy
7      Romance
9        Drama
11      Action
12       Crime
13    Thriller

In [ ]:
#Now we need to create dummies for data set and assign the values to the dataset
#One way to construct the indicator DataFrame is to start with a DataFrame of all
#zeros:

#We need to create a DataFrame for each genere manually (Not using getDummies method)
#Step1 :Create an empty array with zeros using numpy zeros method with shape as 
#        rows --movies and columns --generes
#Step3 : Convert numpy array to DataFrame with column names as generes(UNique)

In [29]:
zero_matrix = np.zeros((len(movie_df), len(generes_unique)))

In [30]:
zero_matrix

array([[0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.]])

In [32]:
dummies = pd.DataFrame(zero_matrix, columns=generes_unique)

In [33]:
dummies

,Animation,Children's,Comedy,Adventure,Fantasy,Romance,Drama,Action,Crime,Thriller
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0