In [56]:
import pandas as pd
import numpy as np
import os

In [10]:
os.getcwd()

'E:\\Programming\\Analytics\\PythonDataSets\\telecom_churn_project'

In [9]:
os.chdir('E:/Programming/Analytics/PythonDataSets/telecom_churn_project')

In [13]:
os.listdir()

['.ipynb_checkpoints',
 'churn_data.csv',
 'customer_data.csv',
 'internet_data.csv',
 'Logistic+Regression+-Telecom+Churn+(1) (1).ipynb',
 'Telecom Churn Data Dictionary.csv']

### Read data froom CSV file into DataFrame

In [17]:
churfile = pd.read_csv('churn_data.csv')
custfiel = pd.read_csv('customer_data.csv')
internetdatafile = pd.read_csv('internet_data.csv')

In [20]:
type(churfile)

pandas.core.frame.DataFrame

In [29]:
df_mege1 = churfile.merge(custfiel,how ='inner',on='customerID')

In [30]:
telecom= df_mege1.merge(internetdatafile,how='inner',on='customerID')

In [35]:
telecom.iloc[:,0:13].head()

,customerID,tenure,PhoneService,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn,gender,SeniorCitizen,Partner,Dependents
0,7590-VHVEG,1,No,Month-to-month,Yes,Electronic check,29.85,29.85,No,Female,0,Yes,No
1,5575-GNVDE,34,Yes,One year,No,Mailed check,56.95,1889.5,No,Male,0,No,No
2,3668-QPYBK,2,Yes,Month-to-month,Yes,Mailed check,53.85,108.15,Yes,Male,0,No,No
3,7795-CFOCW,45,No,One year,No,Bank transfer (automatic),42.30,1840.75,No,Male,0,No,No
4,9237-HQITU,2,Yes,Month-to-month,Yes,Electronic check,70.70,151.65,Yes,Female,0,No,No

In [36]:
telecom.iloc[:,13:].head()

,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies
0,No phone service,DSL,No,Yes,No,No,No,No
1,No,DSL,Yes,No,Yes,No,No,No
2,No,DSL,Yes,Yes,No,No,No,No
3,No phone service,DSL,Yes,No,Yes,Yes,No,No
4,No,Fiber optic,No,No,No,No,No,No

In [32]:
telecom.shape

(7043, 21)

In [40]:
#For numerical data , we will use decibe method
telecom.describe()

            tenure  MonthlyCharges  SeniorCitizen
count  7043.000000     7043.000000    7043.000000
mean     32.371149       64.761692       0.162147
std      24.559481       30.090047       0.368612
min       0.000000       18.250000       0.000000
25%       9.000000       35.500000       0.000000
50%      29.000000       70.350000       0.000000
75%      55.000000       89.850000       0.000000
max      72.000000      118.750000       1.000000

In [ ]:
#Here tenure and Senior citizens are not exactly numerical data , they belongs to categorical data ,
#We need to convert them into categorical dfata

### DATA PREPARATION
1. Null Values
2. Missing Values
3. Covertion of conversion of categorical data into numerical
4. feature transformation

In [64]:
telecom.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7043 entries, 0 to 7042
Data columns (total 21 columns):
customerID          7043 non-null object
tenure              7043 non-null int64
PhoneService        7043 non-null object
Contract            7043 non-null object
PaperlessBilling    7043 non-null object
PaymentMethod       7043 non-null object
MonthlyCharges      7043 non-null float64
TotalCharges        7032 non-null float64
Churn               7043 non-null object
gender              7043 non-null object
SeniorCitizen       7043 non-null int64
Partner             7043 non-null object
Dependents          7043 non-null object
MultipleLines       7043 non-null object
InternetService     7043 non-null object
OnlineSecurity      7043 non-null object
OnlineBackup        7043 non-null object
DeviceProtection    7043 non-null object
TechSupport         7043 non-null object
StreamingTV         7043 non-null object
StreamingMovies     7043 non-null object
dtypes: float64(2), int64(2), object(17)
memory usage: 1.2+ MB

In [63]:
#Null values 
telecom.isna().sum()

customerID           0
tenure               0
PhoneService         0
Contract             0
PaperlessBilling     0
PaymentMethod        0
MonthlyCharges       0
TotalCharges        11
Churn                0
gender               0
SeniorCitizen        0
Partner              0
Dependents           0
MultipleLines        0
InternetService      0
OnlineSecurity       0
OnlineBackup         0
DeviceProtection     0
TechSupport          0
StreamingTV          0
StreamingMovies      0
dtype: int64

In [61]:
# In above data set , Total Charges as taken as object type ,due to some space added or any other reason
#We need to convert that into numerical data or Missing values 
telecom['TotalCharges'] =telecom['TotalCharges'].convert_objects(convert_numeric=True)

C:\Users\Sanvi\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: convert_objects is deprecated.  To re-infer data dtypes for object columns, use Series.infer_objects()
For all other conversions use the data-type specific converters pd.to_datetime, pd.to_timedelta and pd.to_numeric.
  This is separate from the ipykernel package so we can avoid doing imports until

In [119]:
tel_obj = telecom.select_dtypes(include='object')

In [47]:
pd.value_counts(tel_obj['PhoneService'])

Yes    6361
No      682
Name: PhoneService, dtype: int64

In [ ]:
#Get value counts for all

In [92]:
type(tel_obj['PhoneService'])

pandas.core.series.Series

In [95]:
len(tel_obj['PhoneService'].value_counts())

2

In [115]:
# Enable Encoding for two variables as of Now 
#Note :We just need to pass categoical data alone before calling this method
def ConvertClassificationDataToNumerical(DfFrame) :
    if len(DfFrame.value_counts())==2:
        dummies= DfFrame.map({DfFrame.value_counts().index[0]:0,DfFrame.value_counts().index[1]:1})
        return dummies
    else:
        
        return DfFrame

In [105]:
columns = list(telecom.columns)

In [ ]:
for col in columns:
    telecom[col] = ConvertClassificationDataToNumerical(telecom[col])

In [113]:
#Now converted the Binary categorical data into numerical
telecom.info()

In [116]:
telecom.head()

,customerID,tenure,PhoneService,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn,gender,...,Partner,Dependents,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies
0,7590-VHVEG,1,1,Month-to-month,0,Electronic check,29.85,29.85,0,1,...,1,0,No phone service,DSL,No,Yes,No,No,No,No
1,5575-GNVDE,34,0,One year,1,Mailed check,56.95,1889.50,0,0,...,0,0,No,DSL,Yes,No,Yes,No,No,No
2,3668-QPYBK,2,0,Month-to-month,0,Mailed check,53.85,108.15,1,0,...,0,0,No,DSL,Yes,Yes,No,No,No,No
3,7795-CFOCW,45,1,One year,1,Bank transfer (automatic),42.30,1840.75,0,0,...,0,0,No phone service,DSL,Yes,No,Yes,Yes,No,No
4,9237-HQITU,2,0,Month-to-month,0,Electronic check,70.70,151.65,1,1,...,0,0,No,Fiber optic,No,No,No,No,No,No

In [122]:
col_objects =list(tel_obj.columns)

In [124]:
for col in col_objects:
    df_dummies = ConvertClassificationDataToNumerical(tel_obj[col])
    print(df_dummies.head(1))

0    7590-VHVEG
Name: customerID, dtype: object
0    Month-to-month
Name: Contract, dtype: object
0    Electronic check
Name: PaymentMethod, dtype: object
0    No phone service
Name: MultipleLines, dtype: object
0    DSL
Name: InternetService, dtype: object
0    No
Name: OnlineSecurity, dtype: object
0    Yes
Name: OnlineBackup, dtype: object
0    No
Name: DeviceProtection, dtype: object
0    No
Name: TechSupport, dtype: object
0    No
Name: StreamingTV, dtype: object
0    No
Name: StreamingMovies, dtype: object