import cx_Oracle

dsn_tns = cx_Oracle.makedsn('Host Name', 'Port Number', service_name='Service Name') #if needed, place an 'r' before any parameter in order to address any special character such as '\'.
conn = cx_Oracle.connect(user=r'User Name', password='Personal Password', dsn=dsn_tns) #if needed, place an 'r' before any parameter in order to address any special character such as '\'. For example, if your user name contains '\', you'll need to place 'r' before the user name: user=r'User Name'

c = conn.cursor()
c.execute('select * from database.table') # use triple quotes if you want to spread your query across multiple lines
for row in c:
    print (row[0], '-', row[1]) # this only shows the first two columns. To add an additional column you'll need to add , '-', row[2], etc.
#conn.close()

In [1]:
import cx_Oracle

In [9]:
conn2= cx_Oracle.connect('vinod/vinod@LAPTOP-UIN6HJ09:1521/XE')

In [2]:
dsn_tnss = cx_Oracle.makedsn('LAPTOP-UIN6HJ09','1521',service_name='XE')

In [3]:
conn = cx_Oracle.connect(user = 'vinod',password ='vinod',dsn=dsn_tnss)

In [4]:
c =conn.cursor()

In [5]:
c.execute('select * from bonus')

In [7]:
for row in c:
    print(row[0],'----',row[1],'---',row[2])

2 ---- 2016-06-11 00:00:00 --- 3000
3 ---- 2016-02-20 00:00:00 --- 4000
1 ---- 2016-02-20 00:00:00 --- 4500
2 ---- 2016-06-11 00:00:00 --- 3500
1 ---- 2016-02-20 00:00:00 --- 5000
2 ---- 2016-06-11 00:00:00 --- 3000
3 ---- 2016-02-20 00:00:00 --- 4000
1 ---- 2016-02-20 00:00:00 --- 4500
2 ---- 2016-06-11 00:00:00 --- 3500