In [1]:
import numpy as np

In [10]:
fn_x=np.array([[20,30,50],[46,55,60]])

In [11]:
fn_x

array([[20, 30, 50],
       [46, 55, 60]])

In [3]:
# Numpy provides a lot of mathematical functions, in the form of Universal functions.

In [12]:
np.square(fn_x)

array([[ 400,  900, 2500],
       [2116, 3025, 3600]], dtype=int32)

In [13]:
np.sin(fn_x)

array([[ 0.91294525, -0.98803162, -0.26237485],
       [ 0.90178835, -0.99975517, -0.30481062]])

In [14]:
fn_x.sum()

261

In [15]:
fn_x.sum(axis =1) # it is axis =1 row wise operation

array([100, 161])

In [16]:
fn_x.sum(axis=0) # it is axis=0 column wise operation

array([ 66,  85, 110])

In [17]:
np.sqrt(fn_x)

array([[4.47213595, 5.47722558, 7.07106781],
       [6.78232998, 7.41619849, 7.74596669]])

In [26]:
fn_x1 = np.arange(6).reshape(2,3)

In [28]:
fn_x1

array([[0, 1, 2],
       [3, 4, 5]])

In [29]:
fn_x

array([[20, 30, 50],
       [46, 55, 60]])

In [27]:
np.add(fn_x1,fn_x)

array([[20, 31, 52],
       [49, 59, 65]])

In [30]:
np.multiply(fn_x,fn_x1)

array([[  0,  30, 100],
       [138, 220, 300]])

In [31]:
np.minimum(fn_x,fn_x1) # it compares each element in two arrays and return small element in the corresponding position

array([[0, 1, 2],
       [3, 4, 5]])

# Indexing, Slicing a 1-D ndarray

In [32]:
sl_x = np.arange(10)

In [33]:
sl_x

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [34]:
sl_x[4] # fetching single element using the index

4

In [35]:
sl_x [1:8]# fetching multiple elements using the index starting and ending

array([1, 2, 3, 4, 5, 6, 7])

In [36]:
sl_x[1:9:3] # step wise elements , step is 3 i.e index is now 1,4,7

array([1, 4, 7])

In [37]:
sl_x [4] =40 # array updating using the index element

In [38]:
sl_x

array([ 0,  1,  2,  3, 40,  5,  6,  7,  8,  9])

### 2-D Array

In [39]:
y = np.array([[0, 1, 2],

              [3, 4, 5]])

In [44]:
y[1:2, 1:3] #here 1:2 ----represent the rows in a array for understanding , i.e 0th row not included [0,1,2]
#1st row included and 2nd row excluded 

# similarly second elements represents second dimention i.e. column ,here 0th column not present since 1st column is the starting column
# second column is included , 3rd is not included 

# so elements of 1st row with 1st and 2nd column is the result

array([[4, 5]])

In [43]:
y[1:2, 1:2]

array([[4]])

In [49]:
y[1] #it respresent first dimention i.e. row elelments

array([3, 4, 5])

In [50]:
y[0]

array([0, 1, 2])

In [51]:
#if we want all the elements in column wise then we use below syntax.
y[:,2]

array([2, 5])

#### Higher Dimentional array

In [52]:
arr1 = np.arange(60)

In [53]:
arr1 #1- D array

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
       34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50,
       51, 52, 53, 54, 55, 56, 57, 58, 59])

In [54]:
# convert 1-d array into 2 -D array using the reshape() method

In [55]:
arr2 = arr1.reshape(6,10)

In [56]:
arr2 # 2-D array

array([[ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14, 15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24, 25, 26, 27, 28, 29],
       [30, 31, 32, 33, 34, 35, 36, 37, 38, 39],
       [40, 41, 42, 43, 44, 45, 46, 47, 48, 49],
       [50, 51, 52, 53, 54, 55, 56, 57, 58, 59]])

In [57]:
# here each row of elements repsesents arr2[0][5] means 0th row and 5th column (normally 1st row and 6th column if we starts from 1)

In [59]:
arr2[0][5]

5

In [60]:
# convert 2 D into 3 -D 
arr3 = arr2.reshape(6,2,5)

In [61]:
arr3

array([[[ 0,  1,  2,  3,  4],
        [ 5,  6,  7,  8,  9]],

       [[10, 11, 12, 13, 14],
        [15, 16, 17, 18, 19]],

       [[20, 21, 22, 23, 24],
        [25, 26, 27, 28, 29]],

       [[30, 31, 32, 33, 34],
        [35, 36, 37, 38, 39]],

       [[40, 41, 42, 43, 44],
        [45, 46, 47, 48, 49]],

       [[50, 51, 52, 53, 54],
        [55, 56, 57, 58, 59]]])

In [62]:
arr3[3] # Here each row represents an vecor of size (2,5) i.e. first dimention

array([[30, 31, 32, 33, 34],
       [35, 36, 37, 38, 39]])

In [64]:
arr3[3][1] # Here second [1] represents row element in the sliced object previously , so it represents second dimention

array([35, 36, 37, 38, 39])

In [66]:
arr3[3][1][3] # Last represent an element at that index.

38

In [67]:
arr3[:4,0,3:]

array([[ 3,  4],
       [13, 14],
       [23, 24],
       [33, 34]])

#### Looping Elements in Nd Array

In [68]:
# use for loop to loop the dimentional array

In [69]:
for row in arr3:
    print(row)

[[0 1 2 3 4]
 [5 6 7 8 9]]
[[10 11 12 13 14]
 [15 16 17 18 19]]
[[20 21 22 23 24]
 [25 26 27 28 29]]
[[30 31 32 33 34]
 [35 36 37 38 39]]
[[40 41 42 43 44]
 [45 46 47 48 49]]
[[50 51 52 53 54]
 [55 56 57 58 59]]

In [72]:
for row in arr3:
    for row1 in row:
        print(row1)
        
        #it gives you the one dimentional array

[0 1 2 3 4]
[5 6 7 8 9]
[10 11 12 13 14]
[15 16 17 18 19]
[20 21 22 23 24]
[25 26 27 28 29]
[30 31 32 33 34]
[35 36 37 38 39]
[40 41 42 43 44]
[45 46 47 48 49]
[50 51 52 53 54]
[55 56 57 58 59]

In [74]:
for row in arr3:
    for row1 in row:
        for ele in row1:
            print (ele)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59

In [75]:
# intead of having for loops  , we have a single function to iterate through each element .

In [77]:
for ele in np.nditer(arr3):
    print (ele)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59